@import '~bootstrap/scss/bootstrap';

.container-fluid {
	padding: 0;
}

#root {
	max-width: 100vw;
	overflow-x: hidden;
}

#footer,
#header,
#main-carousel {
	user-select: none;
}

#main-carousel {
	height: 68vh;
	min-height: 68vh;
	img {
		min-width: 100vw;
	}
}

.carousel-caption {
	&.text-black {
		a {
			&:hover, &:active, &:focus {
				color: #323232 !important;
			}
			color: black !important;
		}
	}
	a {
		&:hover, &:active, &:focus {
			color: b2b2b2	 !important;
		}
		color: white !important;
	}
}

.image-card-container {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		user-select: none;
	}
	.card {
		position: absolute;
		margin-top: 20%;
		margin-left: 5%;
		z-index: 20;
	}
}

.card {
	.card-img-top {
		max-height: 200px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

.attribution-overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px 10px;
	z-index: 10;
}